<!doctype html>
<html lang="en" ng-app="tes">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script>
        let mod = angular.module('tes',[]);

        //写好一个模块
        mod.controller('crt1',function ($scope) {
	        $scope.a = 0;
	        $scope.b = 0;
            $scope.parseInt = function (str) {
                return parseInt(str)
            }
        })
    </script>
</head>
<body ng-controller="crt1">
<input type="text" ng-model="a">
<input type="text" ng-model="b">

{{parseInt(a)+parseInt(b)}}
</body>
</html>